<h1>Delete Page</h1>

<h2> Are you sure you want to delete the entry below? </h2>

<p><b> Title : <%= @post.title %></b></p>
<p><b> Post: </b></p>
<p> <%= @post.body %></p>

<form action="/delete/<%= @post.id %>" method="post">
  <input type="hidden" value="delete" name="_method">
  <button> YES </button>
</form>

</form><form action="/posts/<%= @post.id %>">
<button> NO </button>
</form>
