<h1> FORM to edit pre existing page </h1> <br>

<form action="/posts/<%= @post.id %>" method="post">
  <input type="hidden" value="patch" name="_method">

  <label for="">Title : </label>
  <input type = "text" name="title" value="<%= @post.title %>"><br>
  <label for="">Username : </label>
  <%= @post.name %> <br>
  <label for="">Body : </label>
  <input type = "text" name="body" value="<%= @post.body %>">
  <br>
  <button> Update! </button>
</form>
