<div class="index">
    <h2 class="sub_title"> Smile and the world smiles with you </h2>
    <h1 class="title">Super Duper Happy</h1>
    <div class="button">
        <a href="#" class="button_1">QOD</a>
        <a href="/posts" class="button_1">Stories</a>
    </div>
</div>
