<div class="index">
  <div class="index_content">
    <h2 class="sub_title"> Smile and the world smiles with you </h2>
    <h1 class="title">Super Duper Happy</h1>
    <div class="button">
        <a href="#" class="button_1">QOD</a>
        <a href="/posts" class="button_2">Stories</a>
    </div>

  </div>
</div>
<!-- <% if logged_in? %>
  <form action="/user/logout" method="delete">
  <button> Log Out </button>
  </form>
<% else %>
  <form action="/user/login" method = "get">
  <button> Log in </button>
  </form>
<% end %>

  <form action="/user/signup">
  <button> Sign Up </button>
  </form> -->
