<div class="index">
    <h2 class="sub_title"> Smile and the world smiles with you </h2>
    <h1 class="title">Super Duper Happy</h1>
    <div class="button">
      <div id="quote_Div">
        <a href="#" id="quoteBtn" class="button_1">QOD</a>
        <a href="/posts" class="button_1">Stories</a>
        <p id="quoteDisplay"></p>
        <span id="authorDisplay"></span>
      </div>
    </div>

</div>
<script type="text/javascript" src="/javascripts/application.js"></script>
