<h1> User Login Page</h1>

<form action = "/user" method="post">
  <!-- <label for=""> Username: </label>
  <input type = "text" name="name"> -->

<label for=""> Email: </label>
<input type = "text" name="email">

<label for=""> Password: </label>
<input type = "password" name="password">

<button> Log In </button>
</form>
