  <!-- <h2>Happy User Login</h2>
  <form action = "/user" method="post">
  <label for=""> Username: </label>
  <input type = "text" name="name">

<label for=""> Email: </label>
<input type = "text" name="email">

<label for=""> Password: </label>
<input type = "password" name="password">

<button> Log In </button>
</form> -->
<div class="login">
  <div class="forms">
    <h2>Happy User Login</h2>
    <br>
    <form action = "/user" method="post">
      <div id="email">
        <input type="textarea" name="email" placeholder="happy@happy.com" />
      </div>
      <div id="password">
        <input type="password" name="password" placeholder="**happypassword**" />
      </div>
      <button class="button_1"> Log In </button>
    </form>
  </div>
</div>
