<div class="login">
  <div class="forms">
    <h2>Happy User Login</h2>
    <form action = "/user" method="post">

        <label for=""> Email: </label>
        <input class="email" type="email" name="email">

        <label for=""> Password: </label>
        <input class ="password" type="password" name="password">

      <button class="button_1"> Log In </button>
    </form>
    <br>
    <form action = "/user/signup">
    <button class="button_1"> Sign Up </button></form>
  </div>
</div>
