<div class="borang">
  <div class="form_area">
    <h2> Share a Happy Story<h2> <br>

    <form action="/posts" method="post">

      <label for="">Title : </label><br>
      <input class="titletext" type = "text" name="title"><br>

      <label for="">Body : </label><br>
      <textarea name="body" class="textarea"></textarea>

      <button class="button_2"> Submit Post </button>
    </form>
  </div>
</div>
