<h1> FORM to add new page </h1> <br>
<form action="/posts" method="post">
  <label for="">Title : </label>
  <input type = "text" name="title"><br>
  <label for="">Username : </label>
  <input type = "text" name="name"> <br>
  <label for="">Body : </label>
  <input type = "text" name="body">
  <br>
  <button> Submit </button>
</form>
