<div class="show">
  <div class="">
  </div>
  <div class="contents">
    <div class="side-nav">
      <div class="side-nav-choice">
        <% if logged_in? %>
          <form action="/posts/new">
            <button class="button_1"> New Post </button>
          </form>
        <% else %>
        <form action="/user/login">
          <button class="button_1"> Log In </button>
        </form>
        <% end %>
      </div>
      <div class="side-nav-choice">
        <label for="">Tags: </label>
        <input type = "text" name="title" value=""><br>
      </div>
    </div>

    <div class="thumbies">
      <h2> Story Board : </h2>
      <div class="tiles">
      <% @posts.each do |post| %>
        <p><a href="/posts/<%= post.id %>"><%= post.title %></a></p>
         <% @users.each do |user| %>
           <% if user.id == post.user_id%>
           <p> Name: <%= user.name %></p>
           <% end %>
         <% end %>
        <p> <%= post.body %></p>
      <% end %>
      </div>
    </div>

</div>
