<h1> User SignUp Page</h1>
<br>
<form action = "/user/new" method="post">

  <label for=""> Username: </label>
  <input type = "text" name="name"><br>

  <label for=""> Email: </label>
  <input type = "text" name="email"><br>

  <label for=""> Password: </label>
  <input type = "password" name="password"><br>

<button> Sign Up </button>
</form>
