<div class="signup">
  <div class="forms">
    <h2>Happy User Signup</h2>
    <form action = "/user/new" method="post">

        <label for=""> Email: </label>
        <input class="email" type="email" name="email">

        <label for=""> Name: </label>
        <input class ="name" type="text" name="name">

        <label for=""> Password: </label>
        <input class ="password" type="password" name="password">

        <button class="button_1"> Sign Up </button>
    </form>
  </div>
</div>
