<div class="signup">
  <div class="forms">
    <h2>Happy User Signup</h2>
    <form action = "/user/new" method="post">

      <label for=""> Name: </label>
      <input type = "textarea" name="name">

      <label for=""> Email: </label>
      <input type = "textarea" name="email">

      <label for=""> Password: </label>
      <input type = "password" name="password">

    <button class="button_1"> Sign Up </button>
    </form>
  </div>
</div>
