/*Global Styles*/
body{
  width: 1440px;
  max-width: 100%;
  margin: 0 auto;
  background-color: #202020;
  font-family: 'Open Sans', sans-serif;
}
/*Header Styles*/
.header{
  padding-top: 10px;
  height: 30px;
  background-color: #404040;
  color: #F5F5F5;
}
.header #logo {
  padding-left: 10px;
  padding-right: 10px;
  font-weight: 1000;
  font-size: 1.35rem;
  float: left;
  margin: 0;
}
.header #logo span{
  font-weight: 300;
  font-size: 1.20rem;
}
.header #user {
  padding: 0;
  margin: 0;
  float: left;
  font-size: 1.35rem;
  letter-spacing: -1px;
  font-weight: 300;
  font-size: 20px;

}
.header nav{
  float: right;
}
.header nav a {
  color: white;
  font-weight: 700;
  text-decoration: none;
  margin-right: 2rem;
}
/*Index Styles*/
.index{
  padding: 5rem 0 6rem 0;
  background-image: url(/stylesheets/nbanner.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  height:400px;
  max-height: 80%;
  text-align: center;
  color: white;
}
.index_content {
}
.title {
  font-size: 5.5rem;
  font-weight: 300;
  letter-spacing: -1px;
  margin: 0;
  padding-bottom: 5rem;
}
.sub_title {
  text-align: center;
  font-weight: 500;
  font-size: 1.35rem;
  width: 500px;
  margin: 2rem auto 2rem auto;
  line-height: 1.75;
}
.button_1 , .button_2 {
  border: none;
  outline: none;
  border-radius: 2rem;
  padding: .6rem 3.5rem;
  color: white;
  font-weight: 700;
  text-decoration: none;
  text-align: left;
  background: rgba(128, 128, 128, 0.8);
  margin: 0 0.8rem;
}
/*Show Styles*/

.show {
  color: white;
  background-image: url(/stylesheets/nbackgroundposts.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  height:800px;
}

.thumbies a {
  font-weight: 700;
  text-decoration: none;
  font-size: 2rem;
}

.smaller_titles{
  font-weight: 300;
  letter-spacing: -1px;
}
.contents {
  padding-top: 30px;
  text-align: center;
}
.side-nav {
  background: rgba(250, 250, 250, 0.3);
  width: 20%;
  height: 300px;
  display: inline-block;
  vertical-align: top;
}
.side-nav-choice {
  padding-top: 20px;
}
.thumbies {
  padding-left: 30px;
  text-align: left;
  background: rgba(250, 250, 250, 0.3);
  width: 70%;
  display: inline-block;
}

/*login and signup and single post display styles*/
.login , .signup {
  background-image: url(/stylesheets/nicecream.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height:600px;

}
.login h2 {
  padding-top: 5rem;
  padding-bottom: 1rem;
  color: white;
  font-size: 50px;
  font-weight: 300;
}
.forms {
  color: white;
  margin: 0 auto;
  width: 80%;
  height: 100%;
  text-align: center;
  /*background: rgba(250, 250, 250, 0.3);*/
}

input[type="textarea"] , input[type="password"] {
  text-align: center;
  display: block;
  margin: 20px auto;
  width: 50%;
  height: 30px;
  font-size: 28px;
  appearance: none;
  box-shadow: none;
  border-radius: none;
}

.show_single_content{
  background-image: url(/stylesheets/nbackgroundposts.jpeg);
  color: white;
  background-color: pink;
  padding-left: 5%;
  padding-right: 30%;
  padding-bottom: 30px;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  height:600px;
}

.show_single_content h1 {
  margin: 0;
  font-size: 60px;
  padding-top: 50px;
  padding-bottom: 20px;
}

.show_single_content #written_by {
  float: left;
  display: inline-block;
}
.show_single_content #float_right_button {
  float: right;
  display: inline-block;
  border: none;
  outline: none;
  border-radius: 2rem;
  padding: .6rem 3.5rem;
  color: white;
  font-size:15px;
  font-weight: 700;
  text-decoration: none;
  text-align: left;
  background: rgba(128, 128, 128, 0.8);
  margin: 0 0.8rem;
}
.show_single_content #float_right_button a {
  color: white;
  text-decoration: none;
}
.show_single_content_body{
  text-align: justify;
  font-size: 800;
  padding-top: 30px;
  display: block;
}

/*new and edit styles*/
.borang {
  padding-left: 50px;
  color: white;
  background-color: pink;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  height:600px;
}
.form_area {
  text-align: left;
}
.borang h2 {
  margin: 0;
  padding-top: 20px;
}
input[type="textarea-version2"]{
  text-align: left;
  width: 60%;
  font-size: 20px;
  appearance: none;
  box-shadow: none;
  border-radius: none;
}

textarea {
  height: 300px;
  width: 60%;
  font-size: 20px;
  appearance: none;
  box-shadow: none;
  border-radius: none;
}
